* {
    box-sizing: border-box;
}

.wrap_product {
    display: flex;
}

.product_item {
    position: relative;
    margin-right: 30px;
}

.product_des {
    text-align: center;
}

.product_discount {
    position: absolute;
    top: 20px;
    right: 30px;
    padding: 10px;
    background-color: rgb(255, 134, 78);
    border-radius: 10px;
}

.price_current {
    color: red;
    margin-right: 10px;
}

.price_pre {
    color: #898787;
}